---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Mi porfolio">
  <main>
    <section class="w-full mx-auto lg:w-185 py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-5">
        Hola, soy Manuel
        <a
          href="https://www.linkedin.com/in/manuel-romero-reyes-206578381/"
          class="flex justify-center items-center"
          target="_blank"
          rel="noopener"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span class="font-bold"> Desarrollador Full Stack.</span>
        <span class="text-blue-300/90"> De Córdoba, España </span>
        .
        <span class="opacity-70">
          Constantemente aprendiendo y desarrollando nuevas ideas.</span
        >
      </h2>
    </section>
  </main>
</Layout>
