---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Mi porfolio">
  <main>
    <section class="w-full mx-auto lg:w-185 py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-5">
        Hola, soy Manuel <div class="flex justify-center items-center">
          <Badge>Disponible para trabajar</Badge>
        </div>
      </h1>
      <h2>
        Desarrollador Full Stack. De Córdoba, España. Especializado en solucion
        de probremas.
      </h2>
    </section>
  </main>
</Layout>
