---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Marzo 2025 - Junio 2025",
    title: "Desarrollador Web con Angular & JS",
    enterprise: "Detailorg Consulting",
    description:
      "Desarrollé una aplicación web completa utilizando Angular y JavaScript, implementando funcionalidades interactivas. Mejora en la base de datos y optimización del rendimiento de otros sitios web que estaban en desarrollo.",
  },
  {
    date: "Marzo 2024 - Junio 2025",
    title: "Desarrollador de Aplicaciones Móviles con Android Studio & Kotlin",
    enterprise: "Zona de Ficción",
    description:
      "Creé una aplicación móvil para Android para la gestión de la empresa utilizando Android Studio y Kotlin, integrando características como notificaciones push y sincronización en la nube. Colaboré con programadores para la optimización de backend.",
  },
];
---

<ol class="relative border-s border-default ml-2">
  {
    EXPERIENCE.map((item) => (
      <li class="mb-10 ms-4">
        {" "}
        <ExperienceItem {...item} />
      </li>
    ))
  }
</ol>
