<header class="flex justify-between items-center p-5 w-full xl:w-280 mx-auto">
  <img
    class="rounded-full size-12 object-cover"
    src="./fotoPersonal.jpg"
    alt="Manuel Romero "
  />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#sobreMi">Sobre Mi</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
